<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<nav class="fixed top-0 left-0 w-full bg-gray-50 border-gray-200 dark:bg-gray-800 dark:border-gray-700 z-10" x-data="{ open: false }">
  <div class="w-full flex items-center justify-between p-4">
    <!-- Logo -->
    <a href="/" class="flex items-center text-2xl font-bold text-gray-900 dark:text-white">
      <%= image_tag 'Logo.jpg', alt: 'Exproware', class: 'w-24 sm:w-32 md:w-48 lg:w-64' %>
    </a>

    <div class="flex items-center space-x-4">
        <!-- Benutzerrolle und Email -->
        <%= link_to profile_path(current_user), class: "block no-underline" do %>
          <div class="text-right hidden md:block mr-2 cursor-pointer rounded-lg">
          <p class="text-sm font-semibold text-gray-700 dark:text-gray-200">
            <%= I18n.t("user_roles.admin") %>
          </p>
          <p class="text-xs text-gray-600 dark:text-gray-400">
            <%= current_user.email %>
          </p>
        </div>
        <% end %>
        <!-- Burger-Menü Icon -->
        <button @click="open = !open" type="button" class="inline-flex items-center p-2 w-10 h-10 text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14" aria-hidden="true">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
    </div>
  </div>

  <!-- Dropdown Menü als Popup -->
    <div x-show="open" @click.away="open = false" class="absolute top-16 right-4 w-60 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-lg z-20" id="navbar-hamburger" x-cloak>
      <div class="flex flex-col w-full p-4 space-y-2">
        <%= link_to I18n.t("navbar.home"), '/', class: "block rounded-full py-2 px-3 text-sm text-white text-center font-semibold bg-red-600 hover:bg-red-700 transition duration-300 ease-in-out" %>
        <%= link_to I18n.t("navbar.experts"), '/experts', class: "block rounded-full py-2 px-3 text-sm text-white text-center font-semibold bg-red-600 hover:bg-red-700 transition duration-300 ease-in-out" %>
        <%= link_to I18n.t("navbar.projects"), '/projects', class: "block rounded-full py-2 px-3 text-sm text-white text-center font-semibold bg-red-600 hover:bg-red-700 transition duration-300 ease-in-out" %>
        <%= link_to I18n.t("navbar.categories"), '/categories', class: "block rounded-full py-2 px-3 text-sm text-white text-center font-semibold bg-red-600 hover:bg-red-700 transition duration-300 ease-in-out" %>     
        <%= link_to I18n.t("navbar.usermanagement"), '/admin/users', class: "block rounded-full py-2 px-3 text-sm text-white text-center font-semibold bg-red-600 hover:bg-red-700 transition duration-300 ease-in-out" %>
        <%= link_to I18n.t("navbar.logout"), destroy_user_session_path, data: { "turbo-method": :delete }, class: "block rounded-full py-2 px-3 text-sm text-white text-center font-semibold bg-red-600 hover:bg-red-700 transition duration-300 ease-in-out" %>
      </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
