<!-- app/views/experts/edit_with_password.html.erb -->
<h2><%= I18n.t("experts.enter_password") %></h2>

<%= form_with url: verify_expert_password_path(@expert), method: :patch do %>
  <div class="field">
    <%= label_tag :password, I18n.t("user.password") %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag I18n.t("experts.fields.submit") %>
  </div>
<% end %>